.section2main{
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    margin-top: 100px;
    font-family: Georgianf;
    padding: 0 10px;
}

.section_inner_left{
    width:45%;
}

.section_inner_right{
    background-color: #F7F7F7;
    width:45%;

    box-sizing: border-box;
    max-width: 90%;
    
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 0px 30px 30px 30px;

    
}

.section_inner_right h2,
.section_inner_left h2{
    text-align: center;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.features_list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.singleItemFeature{
    display: flex;
    gap: 10px;
}

.check_Mark_Icon{
    width: 25px;
    object-fit: contain;
}

.blocks_div{
    display: flex;
    flex-wrap: wrap;
    gap: 40px 20px;
}

.block_component{
    width: 40%;
    height: 200px;
    box-sizing: border-box;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgb(138, 136, 136);
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    cursor: pointer;
}

.block_component:hover{
    background-color: var(--green);
}

.block_component p{
    text-align: center;
    transition: all 0.2s ease;
}

.block_component:hover p{
    text-align: center;
    color: white;
}

.block_component img{
    width: 20%;
}

@media (max-width:900px) {
    .section_inner_left{
        width: 500px;
        max-width: 90%;
    }
    .section_inner_right{
        width: 500px;
        max-width: 90%;
    }
    .section2main{
        flex-direction: column;
        align-items: center;
    }
    .block_component{
        width: 220px;
    }
}

@media (max-width:768px) {
    .section_inner_left{
        padding: 0;
    }
    .block_component{
        width: 90%;
    }
}