.footer{
    height: 70px;
    width: 100%;

    color: white;
    background-color: var(--green);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.footer_block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: -50px;
}

.footer_icons{
    width: 100px;
    aspect-ratio: 2.5/1;
    object-fit: contain;
}