@font-face {
    font-family: Georgianf;
    src: url('./utils/fonts/bpg_extrasquare_mtavruli_2009.ttf');
}

:root{
    --green: #69AB8A
}

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    overflow-x: hidden;
    font-family: Georgianf;
}